<div id="colorBarra">
    <img id=tamanyoLogoPVZ src="https://static.wikia.nocookie.net/logopedia/images/0/01/Pvz_logo_stacked_rgb.png/revision/latest?cb=20120408101754">
  </div>

<div class="todaslasplantas">
    <div class="contenedorplanta">
        <p class="tituloplanta">{{ nombrePlanta }}</p>
        <img class="imagenplanta" src="https://i.imgur.com/mLSHKan.png">
        <p class="letrabajoplanta">Nivel: 1</p>
    </div>
    <div class="contenedorplanta">
        <p class="tituloplanta">{{ nombrePlanta }}</p>
        <img class="imagenplanta" src="https://i.imgur.com/mLSHKan.png">
        <p class="letrabajoplanta">Nivel: 1</p>
    </div>
    <div class="contenedorplanta">
        <p class="tituloplanta">{{ nombrePlanta }}</p>
        <img class="imagenplanta" src="https://i.imgur.com/mLSHKan.png">
        <p class="letrabajoplanta">Nivel: 1</p>
    </div>
    <div class="contenedorplanta">
        <p class="tituloplanta">{{ nombrePlanta }}</p>
        <img class="imagenplanta" src="https://i.imgur.com/mLSHKan.png">
        <p class="letrabajoplanta">Nivel: 1</p>
    </div>
    <div class="contenedorplanta">
        <p class="tituloplanta">{{ nombrePlanta }}</p>
        <img class="imagenplanta" src="https://i.imgur.com/mLSHKan.png">
        <p class="letrabajoplanta">Nivel: 1</p>
    </div>
    <div class="contenedorplanta">
        <p class="tituloplanta">{{ nombrePlanta }}</p>
        <img class="imagenplanta" src="https://i.imgur.com/mLSHKan.png">
        <p class="letrabajoplanta">Nivel: 1</p>
    </div>
    <div class="contenedorplanta">
        <p class="tituloplanta">{{ nombrePlanta }}</p>
        <img class="imagenplanta" src="https://i.imgur.com/mLSHKan.png">
        <p class="letrabajoplanta">Nivel: 1</p>
    </div>
    <div class="contenedorplanta">
        <p class="tituloplanta">{{ nombrePlanta }}</p>
        <img class="imagenplanta" src="https://i.imgur.com/mLSHKan.png">
        <p class="letrabajoplanta">Nivel: 1</p>
    </div>
    <div class="contenedorplanta">
        <p class="tituloplanta">{{ nombrePlanta }}</p>
        <img class="imagenplanta" src="https://i.imgur.com/mLSHKan.png">
        <p class="letrabajoplanta">Nivel: 1</p>
    </div>


    <div class="contenedorplanta">
        <p class="tituloplanta">{{ nombrePlanta }}</p>
        <img class="imagenplanta" src="https://i.imgur.com/mLSHKan.png">
        <p class="letrabajoplanta">Nivel: 1</p>
    </div>
    <div class="contenedorplanta">
        <p class="tituloplanta">{{ nombrePlanta }}</p>
        <img class="imagenplanta" src="https://i.imgur.com/mLSHKan.png">
        <p class="letrabajoplanta">Nivel: 1</p>
    </div>
    <div class="contenedorplanta">
        <p class="tituloplanta">{{ nombrePlanta }}</p>
        <img class="imagenplanta" src="https://i.imgur.com/mLSHKan.png">
        <p class="letrabajoplanta">Nivel: 1</p>
    </div>
    <div class="contenedorplanta">
        <p class="tituloplanta">{{ nombrePlanta }}</p>
        <img class="imagenplanta" src="https://i.imgur.com/mLSHKan.png">
        <p class="letrabajoplanta">Nivel: 1</p>
    </div>
    <div class="contenedorplanta">
        <p class="tituloplanta">{{ nombrePlanta }}</p>
        <img class="imagenplanta" src="https://i.imgur.com/mLSHKan.png">
        <p class="letrabajoplanta">Nivel: 1</p>
    </div>
    <div class="contenedorplanta">
        <p class="tituloplanta">{{ nombrePlanta }}</p>
        <img class="imagenplanta" src="https://i.imgur.com/mLSHKan.png">
        <p class="letrabajoplanta">Nivel: 1</p>
    </div>
</div>